.banner-btn {
    font-family: var(--font-raleway);
    font-size: var(--font-size-deskdev);
    color:#0f0f0f;
    padding: .5em 2em;
    border-radius: 15px;
    background-color: #ebe5e5;
    position: absolute;
    top: 82%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.banner-btn:hover {
    background-color: #eeeaea;
    color: rgb(70, 70, 70);
}

.banner-btn:active {
    font-weight: 600;
}


@media(width <= 750px){
    .banner-btn {
        font-size: var(--font-size-tabdev);
        padding: .4em 1.5em;
    }
}

@media(width <= 500px){
    .banner-btn {
        font-size: var(--font-size-mobdev);
        padding: .3em 1.2em;
    }
}

@media(width <= 320px){
    .banner-btn {
        font-size: calc(var(--font-size-mobdev) - .095rem);
        padding: .2em 1.2em;
    }
}