.details-section {
    padding: 2.5em 4em;
}

.product-card {
    display: flex;
}

.details-img--div {
    width: 45%;
}

.product-card--img {
    width: 100%;
    padding: .2em;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(197, 192, 192);
}

.product-card--details {
    width: 55%;
    font-family: var(--font-raleway);
    margin-left: 1.2%;
    padding: 1.2em 3em;
    border-radius: 10px;
    background-color: rgb(250, 240, 225);
}

.product-card--name {
    font-size: calc(var(--font-size-deskdev) + 1rem);
    font-weight: 600;
    margin-top: 1em;
}

.product-card--price {
    font-size: calc(var(--font-size-deskdev) + .5rem);
    margin-top: .5em;
}

.product-card--description {
    font-size: var(--font-size-deskdev);
    margin-top: 1em;
}

@media(width <= 1000px) {
    .product-card--name {
        font-size: calc(var(--font-size-deskdev) + .5rem);
        margin-top: .7em;
    }
    .product-card--price {
        font-size: calc(var(--font-size-deskdev) + .2rem);
        margin-top: .5em;
    }
    .product-card--description {
        font-size: var(--font-size-deskdev);
        margin-top: .7em;
    }
}
@media(width <= 900px) {
    .product-card--details {
        margin-left: 1%;
        padding: 1em 2.5em;
    }
    .product-card--name {
        font-size: calc(var(--font-size-deskdev) + .1rem);
        margin-top: .4em;
    }
    .product-card--price {
        font-size: var(--font-size-deskdev);
        margin-top: .1em;
    }
    .product-card--description {
        font-size: var(--font-size-tabdev);
        margin-top: .4em;
    }
}
@media(width <= 750px) {
    .product-card--details {
        padding: 1em;
    }
    .product-card--name {
        font-size: calc(var(--font-size-tabdev) + .1rem);
        margin-top: .2em;
    }
    .product-card--price {
        font-size: var(--font-size-tabdev);
    }
    .product-card--description {
        font-size: var(--font-size-mobdev);
        margin-top: .2em;
    }
}
@media(width <= 600px) {
    .product-card {
        flex-direction: column;
        align-items: center;
    }
    .details-img--div {
        width: 70%;
    }
    .product-card--img {
        margin-bottom: 2%;
    }
    .product-card--details {
        width: 70%;
    }
    .product-card--name {
        font-size: calc(var(--font-size-tabdev) + .2rem);
    }
    .product-card--price {
        font-size: var(--font-size-tabdev);
        margin-top: .2em;
    }
    .product-card--description {
        font-size: var(--font-size-mobdev);
        margin-top: .4em;
    }
}
@media(width <= 550px) {
    .details-section {
        padding: 1.5em 2em;
    }
    .details-img--div {
        width: 80%;
    }
    .product-card--details {
        width: 80%;
        padding-top: .5em;
    }
}
@media(width <= 450px) {
    .details-img--div {
        width: 90%;
    }
    .product-card--details {
        width: 90%;
    }
    .product-card--name {
        font-size: var(--font-size-tabdev);
        margin-top: 0;
    }
    .product-card--price {
        font-size: var(--font-size-tabdev);
    }
    .product-card--description {
        font-size: var(--font-size-mobdev);
    }
}